.box1 {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  padding: 20px;
}
.box1 {
  background-color: lightblue;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.box2 {
  background-color: lightgreen;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
/* đổi đơn vị pixel sang rem */
body {
  font-size: 1.6rem; /* tương đương 16px */
  line-height: 1.5;
  font-family: Arial, sans-serif;
  padding: 2rem; /* tương đương 20px */
}

/* *************************** CSS dung chung *************** */
a {  
  text-decoration: none;
}
li {
  list-style: none;
}

/* viết phần CSSS cho phần header ở đây */

/* Kết thúc phần CSS cho header  */
