/* bộ chọn toàn cục universal selector ==> dấu "*" */
/* sẽ áp dụng cho tất cả các phần tử trên trang */
/* Khi dùng border-box thuộc tính width đã bao gồm 
luôn content + padding + border.
→ content sẽ tự co lại để vừa trong khung.
 */
* {
  box-sizing: border-box;
}

/* Khai báo biến trong CSS */
/* biến trong CSS được khai báo trong :root */
/* biến trong CSS sẽ được gọi lại bằng hàm var(--tên-biến) */
:root {
  --primary-text-color: #171100;
  --background-color: #fffcf4;
  --white-color: #fff;
  --second-text-color: #5f5b53;
  --font-body: Sen, serif;
  --btn-color: #ffb900;
}
/* Doi don vi px sang rem 
Mặc định trình duyệt quy ước: 
1rem = 16px
Khi đặt font-size cho thẻ giảm đi 62.5% thì:
html { font-size: 62.5%; }
62.5% * 16px = 10px => 1rem chỉ còn lại kích thước 10px (thay vì 16px)
*/
html {
  font-size: 62.5%;
}

/* cài đặt font cho body */
/* thẻ body bọc hết tất cả các thuộc tính trên trang */
body {
  /* 1.6rem = 16px */
  font-size: 1.6rem;
  /* font-family sẽ đi tìm font Poppins trong hệ thống, nếu không có sẽ dùng font sans-serif */
  font-family: Poppins, sans-serif;
}
/* bỏ gạch chân trong thẻ a và đổi con trỏ chuột thành pointer khi rê vào */
a {
  text-decoration: none;
  cursor: pointer;
}

/* Header Section */
.main-content .active {
  background-color: var(--btn-color);
}

/* 
https://gemini.google.com/u/1/app/efdfffa72514e853?pageId=none
*/
button {
  cursor: pointer;
}

/* Xóa dấu chấm trong thanh điều hướng thẻ header*/
/* 
https://gemini.google.com/u/1/app/c9e09fcad348e7bc?pageId=none
*/
li {
  list-style: none;
}
/******************************************* HEADER Section *******************************************/
/* https://gemini.google.com/u/1/app/5b4ef868fffdc802?pageId=none */
.header {
  background-color: var(--background-color);
  padding: 44px 0; /* padding top & bottom: 44px, padding left & right: 0px */
}

/* giãn khoảng cách cho tất cả class main-content = 1170px */
.main-content {
  width: 1170px;
  /* tự dịch hết nội dung sang phải */
  margin-left: auto;
  /* tự dịch hết nội dung sang trái */
  margin-right: auto;
  /* mục đích là vừa căn trái xong lại căn phải để nó thành căn giữa */
  /* short hand margin: 0 auto */
  max-width: calc(100% - 24px);
  /* tính toán tự động chiều rộng tối đa của trình duyệt (full khung nhìn) */
  /* luôn giữ khoảng cách cách 12px ở hai bên dù trình duyệt thay đổi kích thước */
}

/* xử lý trình bày font có nội dung ghi trên web*/
.main-content .decs {
  font-size: 1.8rem;
  line-height: 30px;
  color: var(--second-text-color);
  font-weight: 400;
  /* margin-top: 28px;
  margin-bottom: 38px; */
}

/* xử lý hình ảnh cho các button: Sign Up; Book Now; Join Now; */
.btn {
  width: 144px;
  /* chiều rộng nút */
  line-height: 50px;
  /* canh giữa chữ trong nút theo chiều dọc */
  color: var(--white-color);
  /* màu chữ trắng */
  background-color: var(--primary-text-color);
  /* màu nền đen */
  border-radius: 24.5px;
  /* bán kính bo tròn */
  text-align: center;
  /* canh giữa chữ cho nút */
}

/* CSS cho phan class header */
/* dinh dang kieu flex - nằm ngang */
.header .body {
  display: flex;
  align-items: center;
  border: 1px solid rgb(0, 255, 191);
}

/* định dạng kiểu flex - nằm ngang cho các thẻ list item */
.header nav {
  display: flex;
  /* margin-left auto sẽ canh phải */
  margin-left: auto;
  border: 1px solid orangered;
}

/* font size 16px = 1.6rem */
/* tac dong den dong Navigation */
.header nav a {
  font-size: 1.6rem;
  line-height: 28px;
  color: #5f5b53;
  padding: 0 21px; /* cach trai phai 21px cac the a trong the nav*/
}

/******* re chuot - hover ********/
/* pseudo- class lớp giả hover */
.header nav a:hover {
  color: var(--primary-text-color);
  /* Khi rê chuột vào, màu được đổi sang màu khai báo trước đó ở color */
  text-shadow: 1px 0 0 currentColor;
  /* chữ sẽ đổ bóng cùng màu tạo hiệu ứng đậm giả 1px màu hiện tại */
}

/* tô đậm chữ Home */
.header nav a.header-active {
  font-weight: 600;
  color: var(--primary-text-color);
  /* position relative là vị trí tương đối so với phần tử cha */
  position: relative; /* đặt để tạo pseudo-element ::after làm trục tọa độ */
  /* position: fixed; */
}

/* tạo một dấu gạch chân bên dưới chữ Home 
theo cấu trúc phần tử giả pseudo-element  
::after trong CSS là pseudo-element (giả phần tử).
Nó không phải là một thẻ thật trong HTML, 
mà là một phần tử ảo được CSS tạo thêm bên trong phần tử thật.
*/
.header nav a.header-active::after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: var(--primary-text-color);
  display: block;
  position: absolute; /* đặt để tạo trục tọa độ như bên dưới vs thẻ a*/
  top: 23px;
  left: 22px;
}

/* khoảng cách giữa nút Sign Up với thẻ Nav */
.header .body .btn-sign-up {
  margin-left: 49px;
}

/****************** Hero section *************************/
/* đặt màu nền cho thẻ section */
.hero {
  background-color: var(--background-color);
}

/* dàn hàng ngang left-box và right-box */
.hero .main-content {
  display: flex;
  padding-bottom: 110px;
}

/* Quy định phần tử .left-box có chiều rộng bằng 48.7% so với chiều rộng của phần tử cha 
(trong trường hợp này là .hero). 
Đây là cách chia layout theo tỉ lệ để tạo bố cục 2 cột (ví dụ left 48.7% – right ~50%). */
/* Làm khung tham chiếu cho các phần tử bên trong (qua position: relative) */
.hero .left-box {
  width: 48.7%;
  position: relative;
  border: #ffb900 1px solid;
}

/* tác động đến hình ảnh hero */
.hero .left-box > img {
  width: 470px;
  height: 685px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* tác động lên phần tử hộp summary */
.hero .left-box .summary {
  background-color: var(--white-color);
  border-radius: 12px;
  width: 240px;
  height: 244px;
  padding: 24px;
  position: absolute; /* đặt vị trí tuyệt đối so với phần tử cha là left-box */
  bottom: 48px;
  right: 0px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border: #00d4ff 1px solid; /* chỉ để kiểm tra khung thôi */
}

/* dàn hàng ngang cho hộp nhỏ items */
.hero .left-box .item {
  display: flex;
  margin: 7px 0;
  align-items: center;
  border: #ff0055 1px solid; /* chỉ để kiểm tra khung thôi */
}

.hero .left-box span {
  display: block;
}

.hero .left-box .icon {
  margin-right: 16px;
  width: 48px; /* chiều rộng icon */
  height: 48px; /* chiều cao icon */
}

/* áp dụng cụ thể cho thẻ <span> đầu tiên 
(first child) nằm trong .course-content, thuộc .left-box trong .hero. */
.hero .left-box .course-content span:first-child {
  font-size: 1.4rem;
  color: var(--second-text-color);
  line-height: 26px;
}

/* áp dụng cụ thể cho thẻ <span> cuối cùng
(last child) nằm trong .course-content, thuộc .left-box trong .hero. */
.hero .left-box .course-content span:last-child {
  color: var(--primary-text-color);
  font-size: 1.8rem;
  line-height: 30px;
  font-weight: 600px;
}

.hero .left-box .summary .item:first-child {
  margin-top: 0px;
}

.hero .left-box .summary .item:last-child {
  margin-bottom: 0px;
}

/* định dạng phần bên phải của hero */
.hero .right-box {
  width: 51.3%;
  padding-left: 116px;
  padding-top: 101px;
  border: #2f00ff 1px solid; /* chỉ để kiểm tra khung thôi */
}

/* định dạng phần tiêu đề bên phải của hero */
.hero .right-box h1 {
  font-family: var(--font-body);
  font-weight: 700;
  color: var(--primary-text-color);
  font-size: 5.8rem;
  line-height: 68px;
  width: 488px;
}

/* định dạng phần nội dung mô tả bên phải của hero */
.hero .right-box .decs {
  margin-top: 28px;
  margin-bottom: 38px;
  border: #ff00d4 1px solid; /* chỉ để kiểm tra khung thôi */
}

/* dàn hàng ngang cho phần call to action bên phải của hero */
.hero .right-box .call-to-action {
  display: flex;
  margin-bottom: 48px;
  border: #ffb900 1px solid; /* chỉ để kiểm tra khung thôi */
}
/* phần định dạng nút see courses */
.hero .right-box .btn-see-courses {
  background-color: var(--btn-color);
  color: var(--white-color);
  width: 180px;
  height: 64px;
  line-height: 64px;
  border-radius: 32px;
  font-size: 1.8rem;
  font-weight: 600;
  margin-right: 28px;
}

/* phần định dạng nút watch video */
.hero .right-box .btn-watch-video {
  display: flex;
  background: none;
  border: none;
  align-items: center;
  font-weight: 600;
  font-size: 1.8rem;
  border: #00ff73 1px solid; /* chỉ để kiểm tra khung thôi */
}

.hero .right-box .btn-watch-video span {
  margin-left: 14px;
  font-weight: 600;
  font-size: 1.8rem;
  margin-top: -10px;
}

.hero .right-box .recent-engagement {
  font-size: 1.8rem;
  line-height: 30px;
  color: var(--second-text-color);
}

.hero .right-box .stats {
  display: flex;
  gap: 29px;
  border: #5f5b53 1px solid; /* chỉ để kiểm tra khung thôi */
}
/* tô đậm chữ trong thẻ strong */
.hero .right-box .item strong {
  font-size: 5.4rem;
  font-weight: 600;
  font-family: var(--font-body);
  line-height: 54px;
}
